{{- if index .Values "infra-services" "backstage_auth_secret" }}
apiVersion: v1
kind: Secret
metadata:
  name: backstage-secrets
  namespace: backstage
type: Opaque
stringData:
  AUTH_SECRET: {{ index .Values "infra-services" "backstage_auth_secret" | quote }}
  {{- if index .Values "infra-services" "backstage_gitlab_token" }}
  GITLAB_TOKEN: {{ index .Values "infra-services" "backstage_gitlab_token" | quote }}
  {{- end }}
  {{- if index .Values "infra-services" "backstage_github_token" }}
  GITHUB_TOKEN: {{ index .Values "infra-services" "backstage_github_token" | quote }}
  {{- end }}
  {{- if index .Values "infra-services" "backstage_github_client_id" }}
  GITHUB_CLIENT_ID: {{ index .Values "infra-services" "backstage_github_client_id" | quote }}
  {{- end }}
  {{- if index .Values "infra-services" "backstage_github_client_secret" }}
  GITHUB_CLIENT_SECRET: {{ index .Values "infra-services" "backstage_github_client_secret" | quote }}
  {{- end }}
  {{- if index .Values "infra-services" "backstage_base_url" }}
  BASE_URL: {{ index .Values "infra-services" "backstage_base_url" | quote }}
  {{- end }}
  {{- if index .Values "infra-services" "backstage_backend_base_url" }}
  BACKEND_BASE_URL: {{ index .Values "infra-services" "backstage_backend_base_url" | quote }}
  {{- end }}
{{- end }}