{{- if .Values.backstageAuthSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: backstage-secrets
  namespace: backstage
type: Opaque
stringData:
  auth-secret: {{ .Values.backstageAuthSecret | quote }}
{{- end }}
