{{- if index .Values "infra-services" "backstage_auth_secret" }}
apiVersion: v1
kind: Secret
metadata:
  name: backstage-secrets
  namespace: backstage
type: Opaque
stringData:
  auth-secret: {{ index .Values "infra-services" "backstage_auth_secret" | quote }}
{{- end }}
